@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* MAIN PAGE */

body {
  margin: 0;
  height: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Cinzel", serif;
}

header {
  position: relative;
  height: 75px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.menu-1 {
  display: flex;
  cursor: pointer;
  width: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
  margin-top: 4.5%;
}

.menu {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Largura do menu */
  height: 100%; /* Altura igual à altura da tela */
  background-color: #300619; /* Cor de fundo do menu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de destaque */
  border-radius: 2% ;
}

.menu ul li {
  margin-right: 30px; /* Espaçamento entre os itens da lista */
  text-align: center; /* Centralizar texto dentro da lista */  
}

.menu.active {
  display: block; /* Exibido quando ativo */
  left:0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}



.btn-nav {
  width: 40%;
  color: white;
  background-color: #89023E;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  margin: 20px;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #89023E;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  margin: 20px;
}

.btn-nav-white:hover{
  color: #89023E;
}

.btn-nav-white h3 {
  color: #89023E;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 20px;
  padding: 0;

}

.btn-nav,
.btn-nav-white,
.btn-logout {
  width: 80%; /* Ajustar largura dos botões */
  height: 20%;
  color: white;
  text-align: center;
  padding: 8px 8px;
  margin: 50px auto;

}

.btn-logout {
  width: 30%; /* Ajustar largura do botão */
  background-color: #89023E;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.imgJanela{
  margin-left: 40px;
  margin-top: 0;
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: center;
  padding: 0 0 0;

  }