header {
  position: relative;
  height: 75px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.itemsHeader a {
  text-decoration: none;
  color: #ffffff;
}

.itemsHeader a:hover {
  text-decoration: underline #FF077E;
  color: #FF077E;
}

.itemsHeader {
  display: flex;
  column-gap: 25px;
  margin-right: 50px;
  color: rgb(0, 0, 0);
  align-items: center;
}

.underheader {
  display: flex;
  justify-content: end;
  height: 80px;
}

.botao {
  background-image: url("../assets/img/elemento.png");
  width: 80px;
  height: 80px;
  align-items: center;
  background-size: cover;
  /* background-color: transparent; */
  border: none;
  padding: 10px 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.container-main {
  /* color: #ffffff; */
  text-align: center;
  
}
.logosite {
  height: 100%;
  width: 35%;

}

.logo {
  margin-top: 9px;
  width: 40%;
  height: 30%;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #e6005a;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.footer {
  height: 80px;
  background-color: #FF077E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer .container p {
  font-weight: bold;
}