@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-top: 9px;
  width: 40%;
  height: 30%;
}

body {
  height: 100vh;
  background-image: url("../assets/img/beckgroud2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 75px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.background {
  /* background-image: url("../assets/img/2.png"); */
  background-size: cover;
  background-position: center;
  height: 85vh;
  flex-direction: column;
  display: flex;
}

/* .login {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
} */

/* .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.itemsHeader a {
  text-decoration: none;
  color: #ffffff;
}

.itemsHeader a:hover {
  text-decoration: underline #FF077E;
  color: #FF077E;
}

img {
  top: 0;
  height: 200px;
  width: 145px;
  clip-path: inset(50px 20px 69px 0 round 50px);
}

.itemsHeader {
  display: flex;
  column-gap: 25px;
  margin-right: 50px;
  color: rgb(0, 0, 0);
  align-items: center;
}

.underheader {
  display: flex;
  justify-content: end;
  height: 80px;
}

.botao {
  background-image: url("../assets/img/elemento.png");
  width: 80px;
  height: 80px;
  align-items: center;
  background-size: cover;
  /* background-color: transparent; */
  border: none;
  padding: 10px 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.options {
  height: 75px;
  display: none;
  top: 100%;
  margin-right: 30px;
  background-color: #FF077E;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.options a {
  display: block;
  padding: 5px;
  right: 0;
  text-decoration: none;
  color: #fff;
}

/* .options a:hover {
  background-color: #FF077E;
  color: #FF077E;
} */

/* MAIN */

.container-main {
  /* color: #ffffff; */
  text-align: center;
  
}
.logosite {
  height: 100%;
  width: 35%;

}

.container-main h1 {
  font-size: 7rem;
}

.container-main h1 span {
  color: #FF077E;
}

.container-main p {
  font-size: 1.5rem;
}

.container-main p span {
  color: #FF077E;
  font-weight: 800;
}

/* SERVIÇOS */

.sobreMim-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;

}

.sobreMim-card {
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -webkit-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -moz-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .titulo-sobreMim h2{
  color: #000000;
  background-color: white;
} */

.card1{
  background-image: url(../assets/img/video1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
  text-shadow: black 0.10em 0.10em 0.10em
}


.card2{
  background-image: url("../assets/img/video2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -letter-spacing: 8px ;
  font-size: 21px;
  color: white; 
  text-shadow: black 0.10em 0.10em 0.10em
}

.card3{
  background-image: url("../assets/img/video3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -letter-spacing: 5px ;
  font-size: 50px;
  color: white; 
  text-shadow: black 0.10em 0.10em 0.10em
}


.sobreMim-card:hover {
  transform: translateY(-10px);
  
}

.sobreMim-card h3 {
  color: #ffffff;
  font-size: 20px;
}

.sobreMim-card p {
  color: #ffffff;
  margin-bottom: 200px;
}

#sobreMim{
  background-color: #FFff;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

#sobreMim h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* SOBRE NÓS */

.sobreDanca-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
}

.sobreDanca-card {
  width: 310px;
  height: 590px;
  margin: 10px;
  padding: 15px;
  background-color: #FFff;
  border-radius: 8px;
  box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -webkit-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -moz-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .titulo-sobreDanca h2{
  color: #000000;
  background-color: white;
} */

.card_img {
  width: 100%;
  height: 50%;
  
}



.sobreDanca-card:hover {
  transform: translateY(-10px);
}

.sobreDanca-card h3 {
  color: #000000;
  font-size: 50px;
}

.sobreDanca-card p {
  color: #000000;
  margin-bottom: 200px;
}

#sobreDanca{
  background-color: #FFff;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

#sobreDanca h2 {
  color:#000000;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


 #sobreDanca {
  background-color: #0C163B;
  padding: 50px 0;
  color: #fff;
 }


.titulo-sobreDanca {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
} 


#sobreDanca .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 6rem;
  gap: 6rem;
}



/* #sobreDanca .container{
  width: 40%;
  margin-bottom: 20px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: -4px 1px 57px -15px rgba(0,0,0,0.79);
  -webkit-box-shadow: -4px 1px 57px -15px rgba(0,0,0,0.79);
  -moz-box-shadow: -4px 1px 57px -15px rgba(0,0,0,0.79);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  text-align: center;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* #sobreDanca .container .nossos-valores{
  text-align: start;
} */

/* .sobreDanca  .card:hover {
  transform: translateY(-10px);
} */

#sobreDanca .container h2 {
  text-align: center;
  font-size: 24px;
  color: #000000;
  margin-bottom: 30px;
}

#sobreDanca .container h3 {
  color: #000000;
  margin-bottom: 20px;
}

#sobreDanca .container p {
  color: #000000;
  line-height: 1.6;
  margin-bottom: 20px;
}

#sobreDanca .container ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

#sobreDanca .container li {
  color: #4A1656;
  line-height: 1.6;
}

#sobreDanca .container .form-group {
  margin-bottom: 20px;
  width: 100%;
}

#sobreDanca .container label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
} 

/* #sobreDanca .container input[type="text"],
#sobreDanca .container input[type="email"],
#sobreDanca .container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
} */

/* #sobreDanca .container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
} */

/* #sobreDanca .container button[type="submit"]:hover {
  background-color: #4A1656;
} */

/* FOOTER */

.footer {
  height: 80px;
  background-color: #FF077E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer .container p {
  font-weight: bold;
}
