@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  height: 100vh;
  background-image: url("../assets/img/beckgroud2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 75px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.logo {
  margin-top: 9px;
  width: 40%;
  height: 30%;
  display: flex;
  left: 1;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  margin-top: 4vh;
}

.background {
  background-size: cover;
  background-position: center;
  height: 90vh;
  flex-direction: column;
  display: flex;
}

.itemsHeader {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  column-gap: 80%;
  font-size: 23px;
  white-space: nowrap;
  margin-top: 4px;
}

.itemsHeader a {
  text-decoration: none;
  color: #ffffff;
}

.itemsHeader a:hover {
  text-decoration: underline #FF077E;
  color: #FF077E;
}

img {
  top: 0;
  height: 200px;
  width: 145px;
  clip-path: inset(50px 20px 69px 0 round 50px);
}

/*MENU HAMBURGUER (NAVEGAR PELO SITE) */

.menu-1 {
  display: flex;
  cursor: pointer;
  width: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 3%;
  margin-top: 4.5%;
}

.menu {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Largura do menu */
  height: 100%; /* Altura igual à altura da tela */
  background-color: #FF077E; /* Cor de fundo do menu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de destaque */
  border-radius: 2%;;
  
}

.menu ul li {
  margin-right: 30px; /* Espaçamento entre os itens da lista */
  border-bottom: 1px solid black; /* Adicionar uma linha inferior */
}

.menu.active {
  display: block; /* Exibido quando ativo */
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 3vh;
}

.menu a:hover {
  color: #0C163B;
}

/* MAIN */

.container-main {
text-align: center;
}

.logosite {
  height: 100%;
  width: 40%;
  left: 50vh;
}

.container-main h1 {
  font-size: 7rem;
}

.container-main h1 span {
  color: #FF077E;
}

.container-main p {
  font-size: 1.5rem;
}

.container-main p span {
  color: #FF077E;
  font-weight: 800;
}

/* SERVIÇOS */

.sobreMim-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;

}

.sobreMim-card {
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -webkit-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -moz-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card1{
  background-image: url(../assets/img/video1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
  text-shadow: black 0.10em 0.10em 0.10em;
  background-size: cover;
  -letter-spacing: 8px ;
  font-size: 21px;
}

.card1 h3{
  margin-top: 11%;
}


.card2{
  background-image: url("../assets/img/video2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -letter-spacing: 8px ;
  font-size: 21px;
  color: white; 
  text-shadow: black 0.10em 0.10em 0.10em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 h3{
  margin-top: 70%;
}

.card3{
  background-image: url("../assets/img/video3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  -letter-spacing: 4px ;
  font-size: 21px;
  color: white; 
  text-shadow: black 0.10em 0.10em 0.10em
}

.card3 h3{
  margin-top: 10%;
}


.Saiba-Mais{
  color: #ffffff;
}

.Saiba-Mais:hover{
  text-decoration: underline #FF077E;
  color: #FF077E;
}


.sobreMim-card:hover {
  transform: translateY(-10px);
  
}

.sobreMim-card h3 {
  color: #ffffff;
  font-size: 20px;
}

.sobreMim-card p {
  color: #ffffff;
  margin-bottom: 200px;
}

#sobreMim{
  background-color: #FFff;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

#sobreMim h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* SOBRE NÓS */

.sobreDanca-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
}

.sobreDanca-card {
  width: 310px;
  height: 590px;
  margin: 10px;
  padding: 15px;
  background-color: #FFff;
  border-radius: 8px;
  box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -webkit-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  -moz-box-shadow: -4px 1px 57px 25px rgba(0,0,0,0.79);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_img {
  width: 100%;
  height: 50%;
}

.sobreDanca-card:hover {
  transform: translateY(-10px);
}

.sobreDanca-card h3 {
  color: #000000;
  font-size: 50px;
}

.sobreDanca-card p {
  color: #000000;
  margin-bottom: 200px;
}

#sobreDanca{
  background-color: #FFff;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

#sobreDanca h2 {
  color:#000000;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


 #sobreDanca {
  background-color: #0C163B;
  padding: 50px 0;
  color: #fff;
 }


.titulo-sobreDanca {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
} 


#sobreDanca .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 6rem;
  gap: 6rem;
}

#sobreDanca .container h2 {
  text-align: center;
  font-size: 24px;
  color: #000000;
  margin-bottom: 30px;
}

#sobreDanca .container h3 {
  color: #000000;
  margin-bottom: 20px;
}

#sobreDanca .container p {
  color: #000000;
  line-height: 1.6;
  margin-bottom: 20px;
}

#sobreDanca .container ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

#sobreDanca .container li {
  color: #4A1656;
  line-height: 1.6;
}

#sobreDanca .container .form-group {
  margin-bottom: 20px;
  width: 100%;
}

#sobreDanca .container label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

/* FOOTER */

.footer {
  height: 80px;
  background-color: #FF077E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer .container p {
  font-weight: bold;
}
